*{
    box-sizing: border-box;
}

/* .wrapper{ */
    /* position: relative;
    left: 0;
    right: 0;
    margin: 110px auto; 
    width: 500px;
    height: 400px; */
    /* background-position: center 250px; */
    /* background-position-x: calc(50% - 40px); */
    /* background-position-y: calc(50% - 40px); */
    /* background-position-y: ; */
    /* background-size: contain; */
    /* background-size: cover; */
    /* background-size: 20px; */
    /* background-size: 300px 50px; */
    /* background-attachment: scroll; */
    /* background-repeat: ; */
    /* background-color: darkcyan; */
    /* } */
    
    
    
    .wrapper{
        width: 500px;
        height: 400px;
        margin: 100px auto;
        background-color: darkcyan;
        padding: 20px;
        /* background-image: url("https://picsum.photos/id/1/200/300"), url("https://picsum.photos/id/3/200/300");
        background-repeat: no-repeat, repeat; */
        /* background-image: url("https://picsum.photos/id/1/200/300"), url("https://picsum.photos/id/3/200/300");
        background-position: right bottom, left top;
        background-repeat: no-repeat, repeat; */
        /* background: red url("https://picsum.photos/id/2/200/300") no-repeat center / contain; */
        /* background: color, image-url, bg-repeat, bg-position, bg-size; */
        /* background-repeat: repeat; (default)*/
        /* background-repeat: repeat-x; */
        /* background-repeat: repeat-y; */
        /* background-repeat: space; */
        /* background-repeat: round; */
        
        /* background-size: auto; (default)*/
        /* background-size: cover; */
        /* background-size: contain; */
        /* background-size: x y; */
        /* background-size: (x y); */
        /* background-size: 100px; */
        /* background-position-x: right; */
        /* background-position-x: center; */
        /* background-position-x: calc(50% - 100px); */
        /* background-position-y: top; */
        /* background-position-y: center; */
        /* background-position-y: bottom; */
        /* background-position-y: calc(50% - 100px); */
        /* background-position-x: center; */
        /* background-position-y: center; */    
        /* background-position: center 10px; */
        /* background-size: cover; */
        /* background-clip: content-box; */
    }
    
    p{
        color: darkgoldenrod;
        line-height: 70px;
    }
    
    /* .inner-box{
        padding: 20px;
        background-image: url("https://picsum.photos/id/2/200/300");
    } */
    /* p{
        line-height: 150px;
    } */
    
    /* .box{
        width: 100%;
        height: 600px;
        background-image: url("https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: scroll;
        background-attachment: fixed;
    } */
    
    /* .text{
        color: azure;
        line-height: 20px;
    }
    
    .inner-box{
        width: 400px;
        height: 300px;
        margin: 0px auto;
        overflow-y: scroll;
        border: 3px solid #000;
        background-image: url("https://picsum.photos/id/1/200/300");
        background-repeat: no-repeat;
        background-size: 100px 100px;
        background-attachment: local;
        background-attachment: scroll;
        background-attachment: fixed;
    } */
    
    
    
    